vault:
  environment: {{ .Environment.Name | quote }}

controllers:
  postgres:
    containers:
      main:
        resources:
          requests:
            cpu: 5m

redis:
  {{ if eq .Environment.Name "production" }}
  environment: "production"
  {{ else }}
  environment: "nonproduction"
  {{ end }}
